# Variour Datatypes in Python
## Datatypes
- Numbers

In [1]:
1+1

2

In [4]:
type('q')

str

In [5]:
type(True)

bool

In [6]:
type(10.0)

float

In [2]:
type(1)

int

In [7]:
m

NameError: name 'm' is not defined

In [8]:
print("Vishwa")

Vishwa

- Dynamic print using '.format'

In [11]:
fn='Vishwa'
ln='Raval'

print("My first name is {} and my last name is {}.".format(fn, ln))

My first name is Vishwa and my last name is Raval.

In [12]:
print("My first name is {first} and my last name is {last}.".format(first=fn, last=ln))

My first name is Vishwa and my last name is Raval.

In [13]:
len('Vishwa ')

7

In [14]:
type(['1', 2])

list

- String and String operations

In [13]:
my_str='Vishwa Raval'

In [14]:
my_str.istitle()

True

In [15]:
print(my_str.isalnum()) #check if all char are numbers
print(my_str.isalpha()) #check if all char in the string are alphabetic
print(my_str.isdigit()) #test if string contains digits
print(my_str.istitle()) #test if string contains title words
print(my_str.isupper()) #test if string contains upper case
print(my_str.islower()) #test if string contains lower case
print(my_str.isspace()) #test if string contains spaces
print(my_str.endswith('l')) #test if string ends with a l
print(my_str.startswith('V')) #test if string starts with V

False
False
False
True
False
False
False
True
True

# List, Dictionary, Tuples, Sets â€“ important data types for Exploratory Data Analysis

## Lists

- A list is a data structure in Python that is a mutable, or changeable, ordered sequence of elements. Each element or value that is inside of a list is called an item. Just as strings are defined as characters between quotes, lists are defined by having values between square brackets [ ]

In [18]:
type([])

list

In [19]:
type({})

dict

- initializing a list

In [20]:
lst=list()

In [21]:
type(lst)

list

In [22]:
my_lst=[]

In [23]:
type(my_lst)

list

In [24]:
lst=['Mathematics', 'chemistry', 100, 200, 300, 204]

In [25]:
len(lst)

6

- Append

- refer to Krish Naik's github link: https://github.com/krishnaik06/Machine-Learning-in-90-days